@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: color-palette.$blue-500,
  $secondary: #f2c3,
  $surface: #fff,
  $background: color-palette.$blue-500,
  $error: color-palette.$red-900
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  font-family: 'Inter';
  font-style: normal;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.e_komo_mai {
  position: absolute;
  width: 135px;
  height: 32px;
  left: 64px;
  top: 88px;

  /* Header-04 */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */


  color: #000000;
}

#email {
  position: absolute;
  width: 472px;
  height: 36px;
  left: 64px;
  top: 154px;
}

#password {
  position: absolute;
  width: 472px;
  height: 36px;
  left: 64px;
  top: 207px;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  gap: 4px;

  width: 61px;
  height: 32px;

  /* Blue/B500 */

  background: #0052CC;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-container {
  width: 349px;
  height: 179px;

  /* Neutral/N0 */

  background: #FFFFFF;
  /* Neutral/N5 */
  /* elevation/elevation-4 */

  box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.09), 0px 2px 4px rgba(9, 30, 66, 0.18);
  border-radius: 8px;
}

.step-off {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* Neutral/N50 */

  background: #C1C7D0;
  border-radius: 100px;
  color: white;
  padding: 5px;
}

.step-on {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* Neutral/N50 */

  background: #091E42;
  border-radius: 100px;
  color: white;
  padding: 5px;
}

.login-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 61px;
  height: 32px;
  left: 64px;
  top: 260px;

  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-field {
  width: 472px;
  height: 36px;
  margin: 5px;
}